
.img:hover{
    transform: scale(1.15);
    align-content: flex-start;
    width: 200px;
    height: 300px;
    text-align: center;
    box-shadow: 2px 5px 5px #0e0eac;
    text-emphasis: center;
    padding: 10px;
    background-color:#002b574b;
    border-radius: 30px;
    border: 2px solid black;
}

.img{
  border-radius: 25px;
  box-shadow: 2px 5px 5px #adadb3;
  background-color: #002b574b;
  border: 2px solid #a9b2b6;
}

.contenedor{
display: grid;
grid-template-columns: repeat;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
background-color:aliceblue;

}

.title{
    grid-template-columns: repeat;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

